<!DOCTYPE html>

{% extends "base.html"%}

{% load staticfiles %}

{% block content %}

<link rel="stylesheet" type="text/css" media="all" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

<div class="row">
  <div class="col-md-5">
    <div class="description_loading content-section" style="margin-top: 10%">
      <h2 id="processing_text">The processing begins!</h2>
      <hr>
      <h4>Task id:<p id="task_id" visibility="hidden">{{ task_id }}</p></h4>
      <hr>
      <p>See your task in <a href="/api/result/{{ task_id }}">REST API</a></p>
      <hr>
    </div>
  </div>

  <!-- <div class="progress__container" id="progress__container">

    <div class="progress">
      <div
        id="progress"
        class="progress-bar progress-bar-striped bg-success"
        role="progressbar"
        style="width: 0%"
        aria-valuenow="25"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>
</div> -->

<div class="col-md-7" style="height: 800px">

  <div class="loading-content content-section" id="loading-bg">
    <div id="loader">
        <img src= "{% static "gif/loader2.gif" %}" alt="Loading gif" width="128" height="128">
    </div>
  </div>

  <div id="final_result" style="display: none">
      <table class="table" id="final_table">

  <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col">Pictogram</th>
      <th scope="col">Feature name</th>
      <th scope="col">Probability</th>
    </tr>
  </thead>

    <tr>
      <td>1</td>
      <td><img src="{% static '/img/loop.svg' %}" id="img1" alt="logo" class="result-img"></td>
      <td>Loop Scattering</td>
      <td id="prob_loop_scaterring">1</td>
    </tr>
    <tr>
      <td>2</td>
      <td><img src="{% static '/img/bg_ring.svg' %}" id="img2" alt="logo" class="result-img"></td>
      <td>Background Ring</td>
      <td id="prob_background_ring">2</td>
    </tr>
    <tr>
      <td>3</td>
      <td><img src="{% static '/img/strong.svg' %}" id="img3" alt="logo" class="result-img"></td>
      <td>Strong Background</td>
      <td id="prob_strong_background">3</td>
    </tr>
    <tr>
      <td>4</td>
      <td><img src="{% static '/img/diffuse.svg' %}" id="img4" alt="logo" class="result-img"></td>
      <td>Diffuse Scattering</td>
      <td id="prob_diffuse_scattering">4</td>
    </tr>
    <tr>
      <td>5</td>
      <td><img src="{% static '/img/artifact.svg' %}" id="img5" alt="logo" class="result-img"></td>
      <td>Artifact</td>
      <td id="prob_artifact">5</td>
    </tr>

    <tr>
      <td>6</td>
      <td><img src="{% static '/img/ice_ring.svg' %}" id="img6" alt="logo" class="result-img"></td>
      <td>Ice Ring</td>
      <td id="prob_ice_ring">6</td>
    </tr>

    <tr>
      <td>7</td>
      <td><img src="{% static '/img/non_uniform.svg' %}" id="img7" alt="logo" class="result-img"></td>
      <td>Non-Uniform Detector</td>
      <td id="prob_non_uniform_detector">7</td>
    </tr>

  </table>
    </div>

  </div>

</div>
</div>

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/percent.js"></script>
<script src={% static "js/handle_async_tasks.js" %}></script>

{% endblock %}


{% endblock %}
