<!DOCTYPE html>

{% extends "base.html"%}
{% load staticfiles %}
{% block content %}

{% block javascript %}
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script src="{% static '/js/sleep.js' %}"></script>
    <script src="{% static '/js/footer_repair.js' %}"></script>
    <script src="{% static '/js/move_progress_bar.js' %}"></script>
    <script src="{% static '/js/handle_async_tasks.js' %}"></script>
    <script src="{% static '/js/api_button.js' %}"></script>

{% endblock %}

    <h3>Task id:</h3>
    <h2 id="task_id">{{ task_id }}</h2>
    <h3><a href="/result/{{ task_id }}">CHECK RESULT</a></h3>

    <br>
    <p>CZY KOLKO MA SIE KRECIC: <span id="kolko_status">TAK</span></p>

    <div id="loader">
        <img src= "{% static "gif/load.gif" %}" alt="Loading gif"  width="128" height="128">
    </div>

    <div id="final_result">
        JESTEM WYNIKIEM
    </div>



    <div class="Api-check">

        <div>
            <button class="apireq">Dane z Api</button>
        </div>

        <div id="jsonresp" style="margin-top: 100px">
            <p><label> Stastus :</label> <span id="status"></span></p>
            <p><label> Loop_scattering :</label> <span id="loop_scattering"></span></p>
            <p><label> background_ring :</label> <span id="background_ring"></span></p>
            <p><label> strong_background :</label> <span id="strong_background"></span></p>
            <p><label> diffuse_scattering :</label> <span id="diffuse_scattering"></span></p>
            <p><label> artifact :</label> <span id="artifact"></span></p>
            <p><label> ice_ring :</label> <span id="ice_ring"></span></p>
            <p><label> non_uniform_detector :</label> <span id="non_uniform_detector"></span></p>
        </div>
        <script type="text/javascript"></script>
    </div>
    <!-- javascript visibility no na divie -->



    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->




{% endblock %}
