{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="description content-section"> <div id = "refleX">RefleX</div> aims to classify anomalies which occur in X-ray crystallography images. Upon completion this system will become part of a major crystallography image database website.
</div>

<div class="add-photo content-section">
    <h2>Submit your photos here ! </h2>
    <div class="container">
      <form id="uploadForm" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
      {{ form|crispy }}
      <button class="btn btn-primary bts-lg btn-block submit-btn" type="submit">Submit</button>
    </form>
    </div>
</div>

<script src={% static "js/helper.js" %}></script>

{% endblock %}
