{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n widget_tweaks %}
{% load static %}

{% block content %}

<div class="description content-section">
    RefleX combines two areas of study: crystallography and machine learning.<br>The goal of the project is to automatically analyze X-ray diffraction images. In particular, we aim to detect anomalies in the images, which might be indicative of mistakes made during the experimental process.
</div>

<div class="add-photo content-section">
    <h2><b>Start here!</b></h2>
    <br>
    <div class="container">
        <div class="row">
            <form  id="uploadForm" action="/" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button class="btn btn-primary bts-lg btn-block submit-btn" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<script src={% static "js/helper.js" %}></script>

{% endblock %}
