<!DOCTYPE html>
{% extends "error.html"%}
{% load static %}

{% block content %}

  <div class="container" id="cmb-content">
          <div class="error-page-content text-center">
              <img class="error-img" src="static/img/e404.svg" alt="CheckMyBlob">
              <div class="error-info">The page you're looking for was not found.</div>
              <div class="error-action">
                <div id="browse_app">
                  <a class="btn btn-large btn-info" href="mainPage/add">Back to main page</a>
                </div>

              </div>
          </div>
       </div>

{% endblock %}
