<!doctype html>

  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Crystalography</title>
  </head>
  <body>

    {% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}" />

<!--

<nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header" id="app-main-header">
                <h2 id="header-panel">
                    <a id="logo-anchor" href="/server/">
                        <img src="/static/img/cloud-network.svg" id="main-logo" alt="CheckMyBlob logo">
                        Crystalography Helper
                    </a>
                    <span class="small"></span>
                </h2>
        </div>
        </div>
    </nav>
-->


<nav class="navbar navbar-default navbar-static-top">
  <div class="header">
        <div class="container">
            <ul class="nav navbar-nav">
              <a id="logo-anchor" href="{% url 'mainPage:add'}">
                <img src="/static/img/cloud-network.svg" id="main-logo" alt="CheckMyBlob logo"> Crystalography Helper </a>
                <span class="small"></span>

            <!--
            <li><a class="navbar-link" href="#">BRAND2</a></li>
                 <li><a class="navbar-link" href="#">BRAND3</a></li>
            -->
          </ul>
        </div>
      </div>
  </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
          {% block content %}

          {% endblock %}
        </div>
      </div>
    </div>

<footer class="footer">
    <div id="cmb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h4>About</h4>
                <p>
                    Crystalography project enables .....
                    See here also <a href="{% url 'mainPage:credits' %}">credits page</a>.
                </p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Contact</h4>
                <p>
                    Need help? Found a bug? Interested in a different set of ligands? Want to collaborate? Contact us at:
                    <script>document.write('');</script><a href="mailto:marcin.konieczny.poznan@gmail.com">marcin.konieczny.poznan@gmail.com</a><noscript>[Turn on JavaScript to see the email address]</noscript>
                </p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Citing</h4>
                <p>
                    D.Brzezinski,F.Krawiec,A.Czyżewski,M.Konieczny
                    <i>Crystalography features detection</i>.
                </p>
            </div>
        </div>
    </div>
</div>
</footer>

  </body>
</html>

<!--
** dodac bootstrap js (mryganie przyciskow rozwiajnie menu) **
** header - sticky, niesticky(recomended)(static) **
** logo -> to managePAge ( randomLogo) **
** menu -> linki
-->
