<!doctype html>

{% load static %}

  <html lang="en">
  <head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="all" href="/static/css/main.css">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/solid.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="/static/css/jquery.fileupload.css">
    <link rel="stylesheet" href="/static/css/jquery.fileupload-ui.css">-->
    <title>Crystalography</title>



  </head>
  <body>


<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<nav class="navbar navbar-default navbar-static-top" style="background-color: #F8F8F8;">
  <div class="header">
        <div class="container">
            <ul class="nav navbar-nav">
              <a id="logo-anchor" href={% url 'mainPage:add' %}>
                <img src="/static/img/cloud-network.svg" id="main-logo" alt="CheckMyBlob logo"> Crystalography Helper </a>
                <span class="small"></span>
          </ul>
        </div>
      </div>
  </nav>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <hr class="mt-0 mb-4">
          {% block content %}

          {% endblock %}


        </div>
      </div>
    </div>

<footer class="footer" style ="margin-top: 350px;">
    <div id="cmb-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h4>About</h4>
                <p>
                    Crystalography project enables .....
                    See here also <a href="{% url 'mainPage:credits' %}">credits page</a>.
                </p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Contact</h4>
                <p>
                    Need help? Found a bug? Interested in a different set of ligands? Want to collaborate?
                    <script>document.write('');</script><a href="mailto:marcin.konieczny.poznan@gmail.com">marcin.konieczny.poznan@gmail.com</a><noscript>[Turn on JavaScript to see the email address]</noscript>
                  </p>
            </div>
            <div class="col-sm-3 col-xs-6">
                <h4>Citing</h4>
                <p>
                    D.Brzezinski,F.Krawiec,A.Czyżewski,M.Konieczny
                    <i>Crystalography features detection</i>.
                </p>
            </div>
        </div>
    </div>
</div>
</footer>

<!-- <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.1.js"></script> -->
<script src={% static "js/footer_repair.js" %}></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

{% block javascript %}
{% endblock %}


</body>
</html>
