<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Forms</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>

  <body>
    <h1> Crystalography-feature-detector </h1>
    <h3>Put photo or numpy arrays here ! We accept jpg & jpeg picture format.</h3>
    <div class="container">
      <form  method="POST">
          {{form.as_p}}
          {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Submit">
      </form>
    </div>
  </body>
</html>.
