{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

**mainPage/person_form.html**

{% block content %}

  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.nameOfFile|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.yourEmail|as_crispy_field }}
      </div>
    </div>
    {{ form.linkToFile|as_crispy_field }}
    <button type="submit" class="btn btn-success">Run</button>
  </form>

{% endblock %}
