<!DOCTYPE html>
{% extends "base.html"%}
  {% block content %}


  <h3>Thank You for your response !    <a id="logo-anchor" href="#">
    <img src="/static/img/server.svg" id="main-logo" alt="CheckMyBlob logo"></a>
    <span class="small"></span> </h3>
    <h3> <a href="{% url 'mainPage:add'}"> Use Crystalography Tool <b>again</b> ! </href><h3>

    {% endblock %}

<!--
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>HOME</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  </head>

  <body>
    <h1>Response succeded ! </h1>
    <h2>Thank You for your response</h2>
  </body>
</html>
-->
