{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load static %}

{% block javascript %}
<script>
function updateFooter() {
    var footerH = $("#cmb-footer").height();
    var contentH = $("#cmb-header").height() + $("#cmb-content").height() + 40 + 10 + 20;
    var windowH = $(window).height();
    if (contentH + footerH > windowH) {
        $("#cmb-footer").removeClass("fixed");
    } else {
        $("#cmb-footer").addClass("fixed");
    }
}

$(document)
    .on('change', '.btn-file :file', function () {
        var input = $(this),
            label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        console.log(label);
        input.parent().find('.filename-holder').html(label);
    });

$(document).ready(function () {
    $(window).resize(function () {
        updateFooter();
    });

    $('#id_application').change(function() {
        setTimeout(function(){ updateFooter(); },30)
    });

    updateFooter();
});
</script>
{% endblock %}

{% block content %}

    <h4>Crystalography feature-detector </h4>
    <div class="container">
      <form action="" method="post"> {% csrf_token %}
      {{ form|crispy }}
      <input class="btn btn-primary bts-lg btn-block" name="pic" type="submit" value="Create" />
  </form>
    </div>
{% endblock %}
